<div class="container home-container">
    <div class="row raise">
        <div class="col">
            <h1><a class="text-reset text-decoration-none" href="/home">Welcome, {{user.username}}!</a></h1>
        </div>
    </div>
    <div class="row raise">
        <div class="col">
            <h2>About</h2>
            <p>This web application serves as a demo of the user authentication system I developed for personal use. Validation takes place on the client, in the routes, and in the database functions.</p>
        </div>
    </div>
    <div class="row raise">
        <div class="col-6">
            <a class="btn btn-outline-secondary btn-lg btn-block add-to-top browseReviews" aria-label="Browse All Reviews" href="/settings">Settings</a>
        </div>
        <div class="col-6">
            <a class="btn btn-outline-primary btn-lg btn-block add-to-top browseReviews" aria-label="Browse All Reviews" href="/logout">Sign Out</a>
        </div>
    </div>
</div>