<div class="container home-container raise">
    <div class="row">
        <div class="col-6">
            <h1>Film Reviews</h1>
        </div>
        <div class="col-6">
            <div class="input-group">
                <input id="form1" class="form-control" aria-label="Search" type="search" placeholder="Search" />
                <div class="input-group-append">
                    <button class="btn btn-primary" type="submit">
                        <i class="fa fa-search"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-6 align-self-start">
            <h2 class="category-header">Recent</h1>
            <div class="category-list list-group list-group-flush">
                <button class="list-group-item list-group-item-action" type="button">How Toy Story Changed my Life<br><small class="font-italic">Toy Story</small></button>
                <button class="list-group-item list-group-item-action" type="button">My Toy Story 2 Story<br><small class="font-italic">Toy Story 2</small></button>
                <button class="list-group-item list-group-item-action" type="button">Toy Story 3 and the Conscious Self<br><small class="font-italic">Toy Story 3</small></button>
                <button class="list-group-item list-group-item-action" type="button">God I Love Toy Story<br><small class="font-italic">Toy Story 4</small></button>
                <button class="list-group-item list-group-item-action" type="button">In Short, Not Enough Toys<br><small class="font-italic">American Psycho</small></button>
            </div>
        </div>
        <div class="col-6 align-self-start">
            <h2 class="category-header">Popular</h1>
            <div class="category-list list-group list-group-flush">
                <button class="list-group-item list-group-item-action" type="button">How Toy Story Changed my Life<br><small class="font-italic">Toy Story</small></button>
                <button class="list-group-item list-group-item-action" type="button">My Toy Story 2 Story<br><small class="font-italic">Toy Story 2</small></button>
                <button class="list-group-item list-group-item-action" type="button">Toy Story 3 and the Conscious Self<br><small class="font-italic">Toy Story 3</small></button>
                <button class="list-group-item list-group-item-action" type="button">God I Love Toy Story<br><small class="font-italic">Toy Story 4</small></button>
                <button class="list-group-item list-group-item-action" type="button">In Short, Not Enough Toys<br><small class="font-italic">American Psycho</small></button>
            </div>
        </div>
    </div>
</div>