<div class="container home-container">
    <div class="row raise">
        <div class="col-6 col-md-4 order-md-1 site-header">
            <h1><a class="text-reset text-decoration-none" href="home">Film Reviews</a></h1>
        </div>
        <div class="col order-xs-2 order-3 order-sm-3 order-md-2">
            <div class="input-group">
                <div class="input-group-prepend">
                    <button id="category-button" class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Title</button>
                    <div id="category-menu" class="dropdown-menu">
                        <a class="dropdown-item" href="#">Title</a>
                        <a class="dropdown-item" href="#">Director</a>
                        <a class="dropdown-item" href="#">Actor</a>
                        <a class="dropdown-item" href="#">Date</a>
                        <a class="dropdown-item" href="#">Reviewer</a>
                    </div>
                </div>
                <input id="form1" class="form-control" aria-label="Search" type="search" placeholder="Search" />
                <div class="input-group-append">
                    <button class="btn btn-primary" type="submit">
                        <i class="fa fa-search"></i>
                    </button>
                </div>
            </div>
        </div>
        <div class="col-6 col-md-2 order-2 order-md-3 text-right">
            <button type="button" class="btn btn-primary" data-toggle="dropdown">
                <i class="fa fa-bars fa-lg"></i>
            </button>
            <div class="dropdown-menu dropdown-menu-right">
                <a class="dropdown-item" href="reviews">Browse</a>
                {{#if user}}
                <a class="dropdown-item" href="#">Publish</a>
                <a class="dropdown-item" href="settings">Settings</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="logout">Sign Out</a>
                {{else}}
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="login">Sign In</a>
                {{/if}}
            </div>
        </div>
    </div>

    <div class="row raise add-to-top">
        <div class="col-6 align-self-start">
            <h2 class="category-header">Recent</h1>
            <div class="category-list list-group list-group-flush">
                <button class="list-group-item list-group-item-action" type="button">How Toy Story Changed my Life<br><small class="font-italic">Toy Story</small></button>
                <button class="list-group-item list-group-item-action" type="button">My Toy Story 2 Story<br><small class="font-italic">Toy Story 2</small></button>
                <button class="list-group-item list-group-item-action" type="button">Toy Story 3 and the Conscious Self<br><small class="font-italic">Toy Story 3</small></button>
                <button class="list-group-item list-group-item-action" type="button">God I Love Toy Story<br><small class="font-italic">Toy Story 4</small></button>
                <button class="list-group-item list-group-item-action" type="button">In Short, Not Enough Toys<br><small class="font-italic">American Psycho</small></button>
            </div>
        </div>
        <div class="col-6 align-self-start">
            <h2 class="category-header">Popular</h1>
            <div class="category-list list-group list-group-flush">
                <button class="list-group-item list-group-item-action" type="button">How Toy Story Changed my Life<br><small class="font-italic">Toy Story</small></button>
                <button class="list-group-item list-group-item-action" type="button">My Toy Story 2 Story<br><small class="font-italic">Toy Story 2</small></button>
                <button class="list-group-item list-group-item-action" type="button">Toy Story 3 and the Conscious Self<br><small class="font-italic">Toy Story 3</small></button>
                <button class="list-group-item list-group-item-action" type="button">God I Love Toy Story<br><small class="font-italic">Toy Story 4</small></button>
                <button class="list-group-item list-group-item-action" type="button">In Short, Not Enough Toys<br><small class="font-italic">American Psycho</small></button>
            </div>
        </div>
    </div>
    <div class="row raise">
        <div class="col-12">
            <a class="btn btn-outline-primary btn-lg btn-block add-to-top" href="/reviews">Browse Reviews</a>
        </div>
    </div>
</div>