<div class="container home-container">
    <div class="row raise">
        <div class="col-6 col-md-4 order-md-1 site-header">
            <h1><a class="text-reset text-decoration-none" href="home">Film Reviews</a></h1>
        </div>
        <div class="col order-xs-2 order-3 order-sm-3 order-md-2">
            <div class="input-group">
                <div class="input-group-prepend">
                    <button id="category-button" class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Title</button>
                    <div id="category-menu" class="dropdown-menu">
                        <a class="dropdown-item" href="#">Title</a>
                        <a class="dropdown-item" href="#">Director</a>
                        <a class="dropdown-item" href="#">Actor</a>
                        <a class="dropdown-item" href="#">Date</a>
                        <a class="dropdown-item" href="#">Reviewer</a>
                    </div>
                </div>
                <input id="form1" class="form-control" aria-label="Search" type="search" placeholder="Search" />
                <div class="input-group-append">
                    <button class="btn btn-primary" type="submit">
                        <i class="fa fa-search"></i>
                    </button>
                </div>
            </div>
        </div>
        <div class="col-6 col-md-2 order-2 order-md-3 text-right">
            <button type="button" class="btn btn-primary" data-toggle="dropdown">
                <i class="fa fa-bars fa-lg"></i>
            </button>
            <div class="dropdown-menu dropdown-menu-right">
                <a class="dropdown-item" href="#">Browse</a>
                {{#if user}}
                <a class="dropdown-item" href="#">Publish</a>
                <a class="dropdown-item" href="settings">Settings</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="logout">Sign Out</a>
                {{else}}
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="login">Sign In</a>
                {{/if}}
            </div>
        </div>
    </div>

    <div class="row raise add-to-top">
        <div class="col-12 align-self-start">
            <div class="row">
                <div class="col">
                    {{!-- NOTE: When this page is first navigated to, this header should be empty. Otherwise, it should show the search term. --}}
                    <h2 class="category-header d-inline">Search Term</h1>
                </div>
                <div class="col text-right">
                    <button id="sort-button" class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Recent</button>
                    <div id="sort-menu" class="dropdown-menu dropdown-menu-right">
                        <a class="dropdown-item" href="#">Recent</a>
                        <a class="dropdown-item" href="#">Popular</a>
                        <a class="dropdown-item" href="#">A-Z</a>
                    </div>
                </div>
            </div>
            
            <div class="category-list list-group list-group-flush add-to-top">
                <button class="list-group-item list-group-item-action" type="button">Review Title<br><small class="font-italic">Film Title</small></button>
                <button class="list-group-item list-group-item-action" type="button">Review Title<br><small class="font-italic">Film Title</small></button>
                <button class="list-group-item list-group-item-action" type="button">Review Title<br><small class="font-italic">Film Title</small></button>
                <button class="list-group-item list-group-item-action" type="button">Review Title<br><small class="font-italic">Film Title</small></button>
                <button class="list-group-item list-group-item-action" type="button">Review Title<br><small class="font-italic">Film Title</small></button>
                <button class="list-group-item list-group-item-action" type="button">Review Title<br><small class="font-italic">Film Title</small></button>
                <button class="list-group-item list-group-item-action" type="button">Review Title<br><small class="font-italic">Film Title</small></button>
                <button class="list-group-item list-group-item-action" type="button">Review Title<br><small class="font-italic">Film Title</small></button>
                <button class="list-group-item list-group-item-action" type="button">Review Title<br><small class="font-italic">Film Title</small></button>
                <button class="list-group-item list-group-item-action" type="button">Review Title<br><small class="font-italic">Film Title</small></button>
                <button class="list-group-item list-group-item-action" type="button">Review Title<br><small class="font-italic">Film Title</small></button>
                <button class="list-group-item list-group-item-action" type="button">Review Title<br><small class="font-italic">Film Title</small></button>
                <button class="list-group-item list-group-item-action" type="button">Review Title<br><small class="font-italic">Film Title</small></button>
                <button class="list-group-item list-group-item-action" type="button">Review Title<br><small class="font-italic">Film Title</small></button>
            </div>
        </div>
    </div>
</div>