<div class="container home-container" id="review-catalog">
    <div class="row raise">
        <div class="col-6 col-md-4 order-md-1 site-header">
            <h1><a class="text-reset text-decoration-none" href="home">Film Reviews</a></h1>
        </div>
        <div class="col order-xs-2 order-3 order-sm-3 order-md-2">
            <div class="input-group">
                <form method="POST" action="/reviews" id="searchForm">
                    <label for="keyword"> Select Keyword</label>
                    <select name="keyword" id="keyword">
                        <option value = "Title" >Title</option>
                        <option value = "Director" >Director</option>
                        <option value = "Actor">Actor</option>
                        <option value = "Release Date">Release Date</option>
                        <option value = "Reviewer">Reviewer</option>
                    </select>
                    <br></br>
                    <label for="searchbar">Search</label>
                    <input type="search" placeholder="Search" name="searchbar" id="searchbar"/>
                    <button class="btn btn-primary" type="submit">Submit</button>
                </form>
            </div>
        </div>
        <div class="col-6 col-md-2 order-2 order-md-3 text-right">
            <button type="button" class="btn btn-primary" data-toggle="dropdown">
                <i class="fa fa-bars fa-lg"></i>
            </button>
            <div class="dropdown-menu dropdown-menu-right">
                <a class="dropdown-item" href="reviews">Browse</a>
                {{#if user}}
                <a class="dropdown-item" href="publish">Publish</a>
                <a class="dropdown-item" href="settings">Settings</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="logout">Sign Out</a>
                {{else}}
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="login">Sign In</a>
                {{/if}}
            </div>
        </div>
    </div>

    <div class="row raise add-to-top">
        <div class="col-12 align-self-start">
            <div class="row">
                <div class="col">
                    {{!-- NOTE: When this page is first navigated to, this header should be empty. Otherwise, it should show the search term. --}}
                    <h2 class="category-header">Search Term</h1>
                </div>
                <div class="col text-right">
                    <button id="sort-button" class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Recent</button>
                    <div id="sort-menu" class="dropdown-menu dropdown-menu-right">
                        <button class="dropdown-item" id="recentlistingoption">Recent</button>
                        <button class="dropdown-item" id="popularlistingoption">Popular</button>
                        <button class="dropdown-item" id="alphabeticallistingoption">A-Z</button>
                    </div>
                </div>
            </div>
            
            {{!-- <div class="category-list list-group list-group-flush add-to-top">
                <ul id="reviewListRecent"></ul>
                <ul id="reviewListPopular"></ul>
                <ul id="reviewListAlphabetical"></ul>
            </div> --}}
            <ul class="category-list list-group list-group-flush" id="reviewListRecent"></ul>
            <ul class="category-list list-group list-group-flush" id="reviewListPopular"></ul>
            <ul class="category-list list-group list-group-flush" id="reviewListAlphabetical"></ul>
        </div>
    </div>
</div>

