<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Film Reviews</title>
    <link rel="stylesheet" href="/public/css/main.css">
  </head>
  <body>
    <header>

    </header>
    <main>
        {{{body}}}
    </main>
    <footer>

    </footer>
    <script src="/public/js/signin.js"></script>
  </body>
</html>