html {
    background-color: rgb(255, 235, 235);
    color: rgb(255, 99, 85);
}

body {
    box-sizing: border-box;
    margin: 0;
}

h1 {
    margin: .25em 0 0 .5em;
}

.category-box {
    box-sizing: border-box;
    border: .15em solid rgb(255, 99, 85);
    border-radius: .4em;
    width: 25%;
    /* height: 80vh; */
    /* min-width: 30%; */
    max-height: 100vh;
    padding: .5em 1em 0 1em;
    font-size: 125%;
    word-wrap: break-word;
    overflow: auto;

    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    
    margin: auto;

    opacity: 0;
    bottom: -250px;
    background-color: rgb(255, 226, 226);
}

#recent-box {
    /* left: -50%; */
}

#popular-box {
    /* right: -50%; */
}

.category-header {
    line-height: 0;
    text-align: center;
    font-weight: 600;
}

#recent-box {
    float: left;
    margin-left: 22.5%;
}

#popular-box {
    float: right;
    margin-right: 22.5%;
}

.divider {
    height: .15em;
    border-width: 0;
    background-color: rgb(255, 99, 85);
}

.category-list li {
    padding: .15em 0;
    opacity: 0;
    position: relative;
    left: -50px;
}

#review-title {
    
}

#review-film {
    font-size: 75%;
    font-style: italic;
}

br {
    line-height: 200%;
}