html {
    background-color: white;
    color: black;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
}

main {
    
}

button:hover {
    cursor: pointer;
}

label {
    /* font-style: italic; */
    font-weight: 200;
}

h1 {
    /* text-align: center; */
}

section {
    width: fit-content;
    height: fit-content;
}

@keyframes tween {
    0%   {top: 10%;}
    100% {top: 0;}
}

#login-box, #signup-box {
    width: 14%;

    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;

    padding: 1px 20px;
    border: 2px solid black;
    border-radius: 5px;

    animation-name: tween;
    animation-duration: .25s;
}

#username, #password, #confirm-password {
    box-sizing: border-box;
    width: 100%;
    margin-bottom: 5px;
    padding: 4px;
}

#login-button, #signup-button {
    width: 25%;
    margin-top: 10px;
    padding: 4px;
}

a:link {
    color: rgb(0, 140, 255);
}

a:visited {
    color: rgb(140, 0, 255);
}

a:hover {
    color: rgb(100, 185, 255);
    cursor: pointer;
}